.main{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.barcode{
   display:block;
    background-color: #f7f7f7;
    border-radius: 10px;
    border-style: none;
    box-shadow:4px 6px 7px #052c05;
    padding-left: 15px;
    padding-right: 15px;
    padding: auto;
    color: #0a0a0a;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0%;
    margin-bottom: 60px;
    margin-left:8%;
}
.icone-barcode{
  width: 157px;
  height: 120px;
  margin-top: 3px;
}
.icone-qrcode{
    width: 110px;
    height: 122px;
    margin-left: 18px;
    margin-right: 19px;
    margin-top: 3px;
}
@media only screen and (min-width: 840px) {
  .ant-modal {
    min-width: 80%;
    min-height: 80%;
    width: 80%;
    height: 80%;
    top: 0px;
    left: 0;
  }
  .ant-modal-content {
     min-width: 80%;
     min-height: 80%;
     width: 80%;
    height: 80%;
  }
  .barcode{
     font-size: 28px;
     margin-bottom: 13%;
 }
  .icone-barcode{
    width: 357px;
    height: 320px;
    margin-top: 3px;
  }
  .icone-qrcode{
      width: 310px;
      height: 322px;
      margin-left: 28px;
      margin-right: 29px;
      margin-top: 18px;
  }
}

@media only screen and (max-width:840px) and (max-height:768px) and (orientation: landscape){
  .ant-modal {
    min-width: 90%;
    min-height: 90%;
    width: 90%;
    height: 90%;
    top: 0px;
    left: 0;
  }
  .ant-modal-content {
     min-width: 90%;
     min-height: 90%;
     width: 90%;
     height: 90%;
  }
  .barcode{
     display: inline-block;
     margin-bottom: 0px;
     margin-top: 8%;
 }
 .main{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
}