.container,
  #interactive.viewport {
    text-align: center;
    width: 98%;
    height: 98%;
    padding: 0;
  }
  
  #interactive.viewport canvas,
  video {
    width: 90%;
    height: 90%;
    padding-left:5px ;
    padding-right: 5px;
  }
  
  #interactive.viewport canvas.drawingBuffer,
  video.drawingBuffer {
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    position:absolute;
  }
  .botao {
    background-color: #255C99;
    /*#1A5E63
    #E43F6F*/
    border: none;
    color:#fffbfc;
    padding: 28px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 #13161433, 0 6px 20px 0 #1a271d30;
    margin:25px;
  }
  .ant-modal-content {
    position: relative;
    background-color: #F7F7F7;
    border-radius: 12px;
    box-shadow: 0 3px 6px -4px rgba(22, 7, 7, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(161, 35, 35, 0.0.5);
  }
  .ant-modal-close {
    color: #030303;
    text-decoration: none;
    background: transparent;
    transition: color 0.3s;
  }
  .ant-modal-close-x {
    font-size: 18px;
  }
  @media only screen and (min-width: 1024px) {
    .container,
  #interactive.viewport {
    width: 48%;
    height: 38%;
  }
  
  #interactive.viewport canvas
  {
    width: 40%;
    height: 38%;
  }
  
  #interactive.viewport canvas.drawingBuffer,
  video.drawingBuffer {
    width: 40%;
    height:38%;
   
  }
  video{
    width: 40%;
    height: 38%;
  }

  }
  
  @media only screen and (min-width:640px) and (min-height:360px){
    .container,
  #interactive.viewport {
    width: 98%;
    height: 38%;
  }
  
  #interactive.viewport canvas
  {
    width: 90%;
    height: 38%;
  }
  
  #interactive.viewport canvas.drawingBuffer,
  video.drawingBuffer {
    width: 90%;
    height:38%;
   
  }
  video{
    width: 90%;
    height: 38%;
  }
  }