
.container,
  #interactive.viewport {
    text-align: center;
    width: 98%;
    height: 98%;
    padding: 0;
  }
  
  #interactive.viewport canvas,
  video {
    width: 90%;
    height: 90%;
    padding-left:5px ;
    padding-right: 5px;
  }
  
  #interactive.viewport canvas.drawingBuffer,
  video.drawingBuffer {
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    position:absolute;
  }
  .botao {
    background-color: #f1f1f1;
    border: none;
    color: #140f0f;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 #13161433, 0 6px 20px 0 #1a271d30;
  }
  .ant-modal-content {
    position: relative;
    background-color: #f57811;
    border-radius: 12px;
    box-shadow: 0 3px 6px -4px rgba(22, 7, 7, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(161, 35, 35, 0.0.5);
  }
  .ant-modal-close {
    color: #000000d5;
    text-decoration: none;
    background: transparent;
    transition: color 0.3s;
  }
  .ant-modal-close-x {
    font-size: 18px;
  }
  
  @media only screen and (min-width: 720px) and (max-height: 360px) and (orientation-portrait){
    .container,
  #interactive.viewport {
       -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
       transform: rotate(90deg);
       min-width: 100%;
       min-height: 100%;
       width: 40%;
       height: 90%;
       top: 0;
       left: 0;
       position: absolute;
    }
  }