
.container,
  #interactive.viewport {
    text-align: center;
    width: 98%;
    height: 98%;
    padding: 0;
  }
  
  #interactive.viewport canvas,
  video {
    width: 90%;
    height: 90%;
    padding-left:5px ;
    padding-right: 5px;
  }
  
  #interactive.viewport canvas.drawingBuffer,
  video.drawingBuffer {
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    position:absolute;
  }
  .botao {
    background-color: #f1f1f1;
    border: none;
    color: #140f0f;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 #13161433, 0 6px 20px 0 #1a271d30;
  }
  
  @media only screen and (min-width: 360px) and (max-height: 1024px) and (orientation-portrait){
    .container,
  #interactive.viewport {
       -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
       transform: rotate(90deg);
       min-width: 100%;
       min-height: 100%;
       width: 40%;
       height: 90%;
       top: 0;
       left: 0;
       position: absolute;
    }
  }