.App {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: #7CB518;
  text-align: center;
  height: 100vh;
}
a{
  text-decoration: none;
  color:black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px; 
}
.ant-modal-footer{
  display: none;
}
@media only screen and (min-width: 1024px) {
  .App {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 60px;
    padding: 100px;
    
  }
}
@media only screen and (min-width: 720px) and (max-height: 375px) and (orientation-landscape){
  .App {
    flex-direction: row;
    text-align: justify;
    height: 50vh;
    width: 100vh;
  }
}